.fakeimg {
      height: 200px;
      background: #aaa;
  }

/* global styles */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    font-family: 'Roboto Mono', monospace;
}

.btn {
    border-radius: 0;
}

/* end global styles */


/* header */
.header {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: #EEEEEE;
}

.sociallinks a {
    color: #EEEEEE;
    border-bottom: 1px dotted;
    margin-right: 10px;
}

.sociallinks a:hover {
    color: #EF5350;
    text-decoration: none;
    border-bottom: 1px solid;
}
/* end header */


/* nav */
nav ul li {
    padding-right: 20px;
}

.navbar-default .navbar-nav > .active{
    color: #EF5350;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #EF5350;
}

nav ul li a:hover {
    color: #EF5350 !important;
}

.dropdown {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
    background-color: #212529;
    color: rgba(255,255,255,.5);
}

.dropdown-menu a {
    color: rgba(255,255,255,.5);
}

.dropdown-menu a:hover {
    color: #E0E0E0;
    background-color: #212529;
}

.dropdown-menu .active {
    background-color: #212529;
}
/* end nav */


/* main */
.main {
    padding: 20px 20px;
}

.main a {
    color: #EF5350;
    font-weight: 500;
}

.main a:hover {
    color: #EF5350;
}
/* end main */


/* main2 */
.main2 {
    padding: 40px 20px;
    background-color: #F1F1F1;
}

.main2 p {
    font-family: 'Courier New', Courier, monospace;
}

.main2 a {
    color: #EF5350;
    font-weight: 500;
}

.main2 a:hover {
    color: #EF5350;
}
/* end main */



/* footer */
.footer {
    background-color: #343A40;
    color: #E9ECEF;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.footer a {
    color: #EEEEEE;
    border-bottom: 1px dotted;
    margin-right: 10px;
}

.footer a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #EF5350 !important;
}
/* end footer */


/* --------------- page based css --------------- */

/* home */
.home-gallery {
    text-align: center;
}

.home-gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
/* end home */

/* web-designs */
.web-gallery {
    text-align: center;
}

.web-gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
/* end web-designs */

/* fashion */
.fashion-gallery img {
    width: 250px;
}
/* end fashion */