body {
	font-family: Courier New, Arial, sans-serif;
	text-align: center;
	color: #4D565B;
}

.main {
	margin: 70px auto 0 auto;
	width: 500px;
}

/*global rules */

ul li {
	list-style: none;
	display: inline-block;
}

a {
	color: #000;
	font-weight: 500;
}

a:hover {
	font-weight: 1000;
}

.active {
	font-weight: 1000;
}

/* Rules for smaller screens */
@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
        margin: auto;
    }
}