body {
	font-family: Courier New, Arial, sans-serif;
	text-align: center;
	color: #4D565B;
}

.index_main {
	margin: 70px auto 0 auto;
	width: 500px;
}

/* logo */
.logo img {
	width: 250px;
	height: 250px;
}

/*global rules */
ul li {
	list-style: none;
	display: inline-block;
}

a {
	color: #000;
	font-weight: 500;
}

a:hover {
	font-weight: 1000;
}

.active {
	font-weight: 1000;
}
/*end global rules */


/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
	background: #EBEDEF;
	float: left;
	margin: 5% 5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
	width: 90%;
	padding: 20px;
}

.card_container {
    padding: 0 16px 16px 16px;
}
/* end card */


/* Rules for smaller screens */
@media only screen and (max-width: 600px) {
    .index_main {
        width: 100%;
        margin: auto;
	}
	.card {
		width: 100%;
		float: center;
		margin: 3% auto;
	}
}